.image-container {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border: 1px solid #333;
}

.image-container img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

@media only screen and (min-width: 768px) {
  .image-container {
    display: inline-flex;
  }
}