.black-bar {
  background-color: black;
  height: 10%;
  position: fixed;
  width: 100%;
}
.expanded-image-header {
  top: 0;
}

.expanded-image-footer {
  bottom: 0;
}

.expanded-image-title {
  color: white;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20px 0px;
  position: relative;
  display: inline-block;
}

.expanded-image img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: scale-down;
}

.expanded-close-button {
  display: inline;
  float: right;
  position: relative;
  margin: 20px;
  height: 40px;
}